<%= render 'header/head1' %>

<div class="container">
	<div class="col-md-7">
		<div class="box1">
			<div>
				<h2>アカウントページ</h2>
				[アカウント名] <%= @user.name %><br>

				<%= link_to "退会する", user_path,class:"item-link", method: :delete, "data-confirm" => "本当に退会しますか？" %>
			</div>
		</div>
	</div>
</div>