<h2>スレッド一覧</h2>
	<% @boards.each do |b| %>
		<span><%= b.thread_title %></span>
	    <%= link_to "削除", admin_board_path(b), method: :delete %>
	<% end %>

<%= link_to "新規投稿画面", new_admin_board_path %>


