<h1>カテゴリ一覧</h1>
	<% @categories.each do |c| %>
		<%= link_to admin_category_path(c) do %>
    	<%= c.category_name %>
    	<% end %>
    	<%= link_to "削除", admin_category_path(c), method: :delete %><br>
  	<% end %>

<%= link_to "カテゴリ追加", new_admin_category_path %>



