<div class="header navbar cleafix">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
       <h2 class="rokyubbs">籠球BBS</h2>
    </nav>



<% if admin_signed_in? %>
	<!--アドミンーログイン済み-->
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to '管理者TOPページ', admin_top_path, class:"header-link" %></li>
        <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class:"header-link" %></li>
      </ul>
    <% else %>
      <!--アドミンーログアウト状態-->
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'TOPページ', root_path, class:"header-link" %></li>
        <li><%= link_to 'ログイン', admin_session_path, class:"header-link" %></li>
      </ul>
    <% end %>
  </div>
</div>